.home-page {
  min-height: 100vh;
  /* display: flex; */
}

.main-menu {
  /* width: 300px; */
  height: 100vh;
  /* border-right: 1px solid black; */
  box-shadow: 3px 0 5px -2px #888;
  padding: 5px;
}

.main-app {
  display: flex;
  width: 100%;
  padding: 10px;
}

.menu-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-container,
.page-container {
  width: 100%;
}
