.home-page {
  min-height: 100vh;
  /* display: flex; */
}

.main-menu {
  width: 300px;
}

.main-app {
  display: flex;
}

.main-app {
  width: 100%;
}

.menu-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-container,
.page-container {
  width: 100%;
}
