.instructional-messages {
  display: flex;
  justify-content: center;
}
.notebook-line-items,
.page-line-items {
  display: flex;
  justify-content: space-between;
}

.notebook-titles,
.page-titles {
  flex-grow: 1;
}

.bin-button.hide {
  display: none;
}

.notebook-name-text {
  text-overflow: ellipsis;
  overflow: hidden;
}
