.hide-editor {
  display: none;
}

.hide-text {
  display: none;
}

.page-buttons {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.watermark {
  text-align: center;
}

.save-hidden {
  display: none;
  padding: 0;
}

.note-book-page {
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
