.avatar_frame {
  width: 150px;
  height: 150px;

  position: relative;
}
.avatar_edit {
  position: absolute;
}

.edit_button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.avatar_upload,
.back-button {
  width: 170px;
  // padding-left: 6px;
}
.update_button,
.back-button {
  // margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_title {
  font-size: 20px;
  font-weight: 500;
}

.welcome-back {
  text-align: center;
}
